<h1><%= @pokemon.name %></h1>
<p><button type="button" name="button" onclick="window.location.href='/pokemons/<%= @pokemon.id %>/edit'">Edit/Delete Pokemon</button></p>
<p><img class= "pokemon" src="<%= @pokemon.img_url %>"></a></p>
<p>CP: <%= @pokemon.cp %></p>
<p>Type: <%= @pokemon.poke_type %></p>
